export(RCA)

importFrom(gplots, heatmap.2)
importFrom(igraph, leading.eigenvector.community, graph.adjacency, layout.kamada.kawai, delete_edges, E)
importFrom(grDevices, colorRampPalette)
importFrom(graphics, plot)
importFrom(stats, cor, qnorm, sd)

S3method(RCA, default)
S3method(print, RCA)
S3method(plot, RCA)



